# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ Create a Jupyter Notebook
+ Insert code and markdown cells
+ Share your notebook through GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

|Data Science Tools|
---
|Anaconda|
|R|
| MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python
(3*4)+5

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60.
TM=200 #Total Minutes
MPH=60 #Minutes per Hour
RM = TM%MPH # remaing minutes
RH = TM//MPH # remaining Hours
print("200 min are equivalent to:", RH, "h",RM)

200 min are equivalent to: 3 h 20

Exercise 11 - Create a markdown cell to indicate the Author's name

In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.

Take a screenshot of the markdown cell and name it as 11-authordetails.png

## Author
Rafael Rade Pacheco